<div class="x-container">
  <div class="x-order-container flex gap-5">
    <div class="col" style="padding: 0">
      <div class="x-card p-4 mb-4 grid-nogutter">
        <span class="x-title">Billing Info</span>
        <div class="flex justify-content-between mt-2 mb-4">
          <span class="x-sub-title">Please enter your billing info</span>
          <span class="x-sub-title">Step 1 of 4</span>
        </div>
        <div class="flex flex-column grid-nogutter">
          <div class="flex justify-content-between">
            <div class="flex flex-column col-6 gap-3">
              <span class="x-form-label">Name</span>
              <input
                type="text"
                pInputText
                [(ngModel)]="productOrderRequest.name"
                variant="filled"
                class="p-3 rounded-10"
                pSize="large"
              />
            </div>
            <div class="flex flex-column col-6 gap-3">
              <span class="x-form-label">Phone</span>
              <p-inputMask
                mask="+62 999-9999-99?99"
                [(ngModel)]="productOrderRequest.phoneNumber"
                placeholder="+62 xxx-xxxx-xxxx"
                variant="filled"
                styleClass="p-3 rounded-10 w-full"
                size="large"
              />
            </div>
          </div>
          <div class="flex">
            <div class="flex flex-column col-4 gap-3">
              <span class="x-form-label">Province</span>

              <p-dropdown
                [options]="provinceList"
                [(ngModel)]="productOrderRequest.province"
                optionValue="id"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                [loading]="loadings.geoProvince"
                (ngModelChange)="doGetRegencyList()"
                [readonly]="productOrderRequest.province"
                styleClass="p-2 rounded-10 x-dropdown"
                variant="filled"
              >
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>

            <div class="flex flex-column col-4 gap-3">
              <span class="x-form-label">Regency</span>
              <p-dropdown
                [options]="regencyList"
                [(ngModel)]="productOrderRequest.regency"
                optionValue="id"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                (onClear)="(productOrderRequest.district == null)"
                [loading]="loadings.geoRegency"
                [disabled]="!productOrderRequest.province"
                [readonly]="productOrderRequest.regency"
                (onChange)="doGetDistrictList()"
                styleClass="p-2 rounded-10  x-dropdown"
                variant="filled"
              >
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>

            <div class="flex flex-column col-4 gap-3">
              <span class="x-form-label">District</span>

              <p-dropdown
                [options]="districtList"
                [(ngModel)]="productOrderRequest.district"
                optionValue="id"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                [loading]="loadings.geoDistrict"
                [disabled]="!productOrderRequest.regency"
                styleClass="mr-3 p-2 rounded-10  x-dropdown"
                variant="filled"
              >
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>

          <div class="flex">
            <div class="flex flex-column col-12 gap-3">
              <span class="x-form-label">Address</span>
              <textarea
                pInputTextarea
                [(ngModel)]="productOrderRequest.address"
                [autoResize]="true"
                class="mr-3 p-3 rounded-10 w-full"
                variant="filled"
              >
              </textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="x-card p-4 mb-4 grid-nogutter">
        <span class="x-title">Rental Info</span>
        <div class="flex justify-content-between mt-2 mb-4">
          <span class="x-sub-title">Please select your rental date</span>
          <span class="x-sub-title">Step 2 of 4</span>
        </div>
        <div class="flex flex-column grid-nogutter">
          <p-selectButton
            [(ngModel)]="productOrderRequest.delivery"
            [options]="['Self Pickup', 'Delivery']"
            class="m-auto"
            size="large"
          />

          <div>
            <div class="flex mt-4 p-2">
              <i
                class="pi pi-map-marker"
                style="color: #3b82f6; font-size: 1.3rem; margin-top: 0.1rem"
              ></i>
              <label class="x-form-label ml-2 font-bold">Pick - Up</label>
            </div>

            <div class="flex">
              <div class="flex flex-column col-6 gap-3">
                <span class="x-form-label">Date</span>
                <p-calendar
                  [(ngModel)]="productOrderRequest.startDate"
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  inputStyleClass="p-3 rounded-10"
                  styleClass="w-full"
                  variant="filled"
                  [showButtonBar]="true"
                  [minDate]="minDate"
                />
              </div>

              <div class="flex flex-column col-6 gap-3">
                <span class="x-form-label">Time</span>
                <p-calendar
                  [(ngModel)]="productOrderRequest.startTime"
                  [iconDisplay]="'input'"
                  [hourFormat]="'12'"
                  [timeOnly]="true"
                  [showIcon]="true"
                  inputStyleClass="p-3 rounded-10"
                  styleClass="w-full"
                  variant="filled"
                  icon="clock"
                />
              </div>
            </div>

            @if (productOrderRequest.delivery == 'Delivery') {
            <div class="flex">
              <div class="flex flex-column col-12 gap-3">
                <span class="x-form-label">Address</span>
                <textarea
                  pInputTextarea
                  [(ngModel)]="productOrderRequest.pickUpAddress"
                  [autoResize]="true"
                  class="mr-3 p-3 rounded-10 w-full"
                  variant="filled"
                >
                </textarea>
              </div>
            </div>
            }
          </div>

          <div>
            <div class="flex mt-4 p-2">
              <i
                class="pi pi-map-marker"
                style="color: #3b82f6; font-size: 1.3rem; margin-top: 0.1rem"
              ></i>
              <label class="x-form-label ml-2 font-bold">Drop - Off</label>
            </div>

            <div class="flex">
              <div class="flex flex-column col-6 gap-3">
                <span class="x-form-label">Date</span>
                <p-calendar
                  [(ngModel)]="productOrderRequest.endDate"
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  [disabled]="
                    !productOrderRequest.startDate ||
                    !productOrderRequest.startTime
                  "
                  inputStyleClass="p-3 rounded-10"
                  styleClass="w-full"
                  variant="filled"
                  [showButtonBar]="true"
                  [minDate]="productOrderRequest.startDate"
                />
              </div>

              <div class="flex flex-column col-6 gap-3">
                <span class="x-form-label">Time</span>
                <p-calendar
                  [(ngModel)]="productOrderRequest.endTime"
                  [iconDisplay]="'input'"
                  [hourFormat]="'12'"
                  [timeOnly]="true"
                  [showIcon]="true"
                  [disabled]="
                    !productOrderRequest.startDate ||
                    !productOrderRequest.startTime ||
                    !productOrderRequest.endDate
                  "
                  inputStyleClass="p-3 rounded-10"
                  styleClass="w-full"
                  variant="filled"
                  icon="clock"
                />
              </div>
            </div>

            @if (productOrderRequest.delivery == 'Delivery') {
            <div class="flex">
              <div class="flex flex-column col-12 gap-3">
                <span class="x-form-label">Address</span>
                <textarea
                  pInputTextarea
                  [(ngModel)]="productOrderRequest.dropOffAddress"
                  [autoResize]="true"
                  class="mr-3 p-3 rounded-10 w-full"
                  variant="filled"
                >
                </textarea>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
      <div class="x-card p-4 mb-4 grid-nogutter">
        <span class="x-title">Payment Method</span>
        <div class="flex justify-content-between mt-2 mb-2">
          <span class="x-sub-title">Please enter your payment method</span>
          <span class="x-sub-title">Step 3 of 4</span>
        </div>
        <div class="flex flex-column grid-nogutter">
          <p-accordion
            class="w-full"
            expandIcon="pi pi-cisrcle"
            collapseIcon="pi pi-circsle-fill"
            (activeIndexChange)="selectPaymentMethod($event)"
          >
            <p-accordionTab>
              <ng-template pTemplate="header">
                <span class="flex align-items-center gap-2 w-full">
                  <p-radioButton
                    value="Credit Card"
                    [(ngModel)]="productOrderRequest.paymentMethod"
                  />
                  <span class="ml-2" style="color: black; font-weight: 500">
                    Credit Card
                  </span>
                  <img
                    class="ml-auto mr-2"
                    src="../../../../assets/img/Visa.png"
                  />
                </span>
              </ng-template>
              <div class="flex flex-column grid-nogutter">
                <div class="flex justify-content-between">
                  <div class="flex flex-column col-6 gap-3">
                    <span class="x-form-label">Card Number</span>
                    <p-inputMask
                      mask="9999-9999-9999-9999"
                      [(ngModel)]="productOrderRequest.cardNumber"
                      placeholder="Card Number"
                      variant="filled"
                      styleClass="p-3 rounded-10 w-full"
                      size="large"
                    />
                  </div>
                  <div class="flex flex-column col-6 gap-3">
                    <span class="x-form-label">Expiration Date</span>
                    <p-inputMask
                      mask="99/99/99"
                      [(ngModel)]="productOrderRequest.cardExpirationDate"
                      placeholder="DD/MM/YY"
                      variant="filled"
                      styleClass="p-3 rounded-10 w-full"
                      size="large"
                    />
                  </div>
                </div>
                <div class="flex justify-content-between">
                  <div class="flex flex-column col-6 gap-3">
                    <span class="x-form-label">Card Holder</span>
                    <input
                      type="text"
                      pInputText
                      [(ngModel)]="productOrderRequest.cardHolderName"
                      variant="filled"
                      class="p-3 rounded-10"
                      pSize="large"
                    />
                  </div>
                  <div class="flex flex-column col-6 gap-3">
                    <span class="x-form-label">CVC</span>
                    <p-inputMask
                      mask="999"
                      [(ngModel)]="productOrderRequest.cardCvc"
                      placeholder="CVC"
                      variant="filled"
                      styleClass="p-3 rounded-10 w-full"
                      size="large"
                    />
                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab>
              <ng-template pTemplate="header">
                <span class="flex align-items-center gap-2 w-full">
                  <p-radioButton
                    value="PayPal"
                    [(ngModel)]="productOrderRequest.paymentMethod"
                  />
                  <span class="ml-2" style="color: black; font-weight: 500">
                    PayPal
                  </span>
                  <img
                    class="ml-auto mr-2"
                    src="../../../../assets/img/PayPal.png"
                  />
                </span>
              </ng-template>
              <p class="m-0">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium...
              </p>
            </p-accordionTab>
            <p-accordionTab>
              <ng-template pTemplate="header">
                <span class="flex align-items-center gap-2 w-full">
                  <p-radioButton
                    value="Bitcoin"
                    [(ngModel)]="productOrderRequest.paymentMethod"
                  />
                  <span class="ml-2" style="color: black; font-weight: 500">
                    Bitcoin
                  </span>
                  <img
                    class="ml-auto mr-2"
                    src="../../../../assets/img/Bitcoin.png"
                  />
                </span>
              </ng-template>
              <p class="m-0">
                At vero eos et accusamus et iusto odio dignissimos...
              </p>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
    </div>
    <div
      class="x-card p-4 col-4 flex justify-content-between flex-column x-sticky"
    >
      <div class="flex flex-column">
        <span class="x-title">Rental Summary</span>
        <span class="x-sub-title mt-2"
          >Prices may change depending on the length of the rental and the price
          of your rental car.</span
        >
      </div>
      <div class="x-img flex mt-4 grid-nogutter">
        <div class="flex" style="height: 6rem; width: 7rem">
          <img
            src="../../../../assets/img/car-1.png"
            alt="Image"
            class="x-img-preview rounded-10 w-full"
          />
        </div>

        <div class="flex flex-column justify-content-center ml-2">
          <span style="font-size: 1.2rem; font-weight: 500">{{
            productDetailResponse.name
          }}</span>
          <div class="flex mt-2">
            <p-rating
              [(ngModel)]="productDetailResponse.rating"
              [readonly]="true"
              [cancel]="false"
              style="padding: 0.1rem"
            />
          </div>
        </div>
      </div>

      <p-divider />

      <div class="flex justify-content-between mt-4">
        <span class="x-sub-title">Subtotal</span>
        <span>{{ 800 | currency : 'IDR' : 'symbol' : '1.0-0' : 'id' }}</span>
      </div>

      <div class="flex justify-content-between mt-4">
        <span class="x-sub-title">Tax</span>
        <span>{{ 800 | currency : 'IDR' : 'symbol' : '1.0-0' : 'id' }}</span>
      </div>

      <div class="flex mt-4">
        <input
          type="text"
          pInputText
          [(ngModel)]="productOrderRequest.voucherCode"
          variant="filled"
          class="p-3 rounded-10 w-full mr-2"
          pSize="large"
        />
        <p-button
          [disabled]="!productOrderRequest.voucherCode"
          label="Apply"
          severity="secondary"
          styleClass="x-h-full"
          text
        />
      </div>

      <div class="flex justify-content-between mt-4">
        <div class="flex flex-column">
          <span class="x-title">Total Rental Price</span>
          <span class="x-sub-title mt-2"
            >Overall price and includes rental discount</span
          >
        </div>
        <span
          style="font-size: 2rem; font-weight: 500; margin: auto 0 auto auto"
          >{{ 800 | currency : 'IDR' : 'symbol' : '1.0-0' : 'id' }}</span
        >
      </div>
    </div>
  </div>
</div>
