.x-card {
  background: white;
  border-radius: 10px;
}

.x-form-label {
  font-size: 1.1rem;
  font-weight: 500;
}

.x-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.x-sub-title {
  font-size: 0.9rem;
  font-weight: 400;
  color: #90a3bf;
}

.x-price {
  .x-price-title {
    font-size: 1.2rem;
    text-wrap-mode: nowrap;
  }
}

.x-sticky {
  position: sticky;
  top: 2rem;
  height: fit-content;
}

.x-img-preview {
  object-fit: contain;
}

:host ::ng-deep .p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  color: #fbad39 !important;
}

:host ::ng-deep .p-accordion p-accordiontab .p-accordion-tab {
  border-bottom: none !important;
  margin-top: 1.5rem;
}

:host ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
  background: #f6f7f9 !important;
}

:host ::ng-deep .p-accordion .p-accordioncontent-content {
  background: red !important;
}

:host ::ng-deep .p-accordion p-accordiontab .p-accordion-content {
  background: #f6f7f9 !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

:host
  ::ng-deep
  .p-accordion
  .p-accordion-tab-active
  > .p-toggleable-content:not(.ng-animating) {
  background: #f6f7f9 !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

// :host ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
//   border-radius: 10px !important;
// }
