<div class="x-footer-container">
  <div class="x-footer grid">
    <div class="x-footer-title-container flex flex-column col-6">
      <label class="x-footer-title mb-4">CARENT</label>
      <label class="x-footer-sub-title secondary-text"
        >Our vision is to provide convenience<br />and help increase your sales
        business.</label
      >
    </div>
    <div class="x-footer-title-options grid col-6">
      <div class="col-4 flex flex-column">
        <label class="x-footer-option-title mb-4">About</label>
        <label class="x-footer-option-sub-title pointer secondary-text mt-4"
          >How it works</label
        >
        <label class="x-footer-option-sub-title pointer secondary-text mt-4"
          >Featured</label
        >
        <label class="x-footer-option-sub-title pointer secondary-text mt-4"
          >Partnership</label
        >
        <label class="x-footer-option-sub-title pointer secondary-text mt-4"
          >Bussiness Relation</label
        >
      </div>
      <div class="col-4 flex flex-column">
        <label class="x-footer-option-title mb-4">Community</label>

        <label class="x-footer-option-sub-title pointer secondary-text mt-4"
          >Events</label
        >
        <label class="x-footer-option-sub-title pointer secondary-text mt-4"
          >Blog</label
        >
        <label class="x-footer-option-sub-title pointer secondary-text mt-4"
          >Podcast</label
        >
        <label class="x-footer-option-sub-title pointer secondary-text mt-4"
          >Invite a friend</label
        >
      </div>
      <div class="col-4 flex flex-column">
        <label class="x-footer-option-title mb-4">Socials</label>
        <label class="x-footer-option-sub-title pointer secondary-text mt-4"
          >Discord</label
        >
        <label class="x-footer-option-sub-title pointer secondary-text mt-4"
          >Instagram</label
        >
        <label class="x-footer-option-sub-title pointer secondary-text mt-4"
          >Facebook</label
        >
        <label class="x-footer-option-sub-title pointer secondary-text mt-4"
          >Twitter</label
        >
      </div>
    </div>
  </div>
  <p-divider />
  <div class="flex justify-content-between mt-5">
    <label class="x-footer-bottom-title pointer"
      >©2024 CARENT. All Rights Reserved</label
    >
    <div class="flex justify-content-end gap-7">
      <label class="x-footer-bottom-title pointer">Privacy & Policy</label>
      <label class="x-footer-bottom-title pointer">Terms & Condition</label>
    </div>
  </div>
</div>
