<div class="x-header-container">
  <div class="x-header flex justify-content-between">
    <div class="x-header-title-container grid">
      <label class="x-header-title mr-4">CARENT</label>
    </div>
    <div class="x-header-title-container grid sm:block hidden">
      <p-iconField iconPosition="right" class="w-10">
        <p-inputIcon styleClass="pi pi-spinner pi-spin" />
        <input type="text" pInputText />
      </p-iconField>
    </div>
    <div class="x-header-title-options grid sm:block hidden">
      <div class="flex">
        <div class="x-header-icon pointer">
          <i
            class="pi pi-heart-fill p-text-secondary x-header-title-options-icon"
            style="font-size: 1.5rem"
          ></i>
        </div>
        <div class="x-header-icon pointer">
          <i
            pBadge
            class="pi pi-bell p-text-secondary x-header-title-options-icon"
            style="font-size: 1.5rem"
            severity="danger"
          ></i>
        </div>
        <div class="x-header-icon pointer">
          <i
            class="pi pi-cog p-text-secondary x-header-title-options-icon"
            style="font-size: 1.5rem"
          ></i>
        </div>
        <p-avatar
          class="x-header-avatar pointer"
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          size="large"
          shape="circle"
        />
      </div>
    </div>
  </div>
</div>
