<div class="x-sidebar-container slide-in slide-out p-4">
  <div class="x-category-container mt-2">
    <label class="x-category-title">TRANSMISSION</label>
    <div class="flex gap-2 mt-3">
      <p-checkbox [(ngModel)]="request.transmission" value="MATIC" />
      <div class="flex gap-1">
        <label class="x-category-name">Matic</label>
        <label class="x-category-count">(20)</label>
      </div>
    </div>
    <div class="flex gap-2 mt-3">
      <p-checkbox [(ngModel)]="request.transmission" value="MANUAL" />
      <div class="flex gap-1">
        <label class="x-category-name">Manual</label>
        <label class="x-category-count">(2)</label>
      </div>
    </div>
  </div>
</div>
