<div class="x-container">
  <div class="x-detail grid gap-6 grid-nogutter">
    <div class="x-carousel col-6">
      <img
        src="../../../assets/img/car-1.png"
        alt="Image"
        class="w-full"
        style="height: 22rem"
      />
      <div class="x-carousel-thumbnail mt-4">
        <img
          src="../../../assets/img/car-1.png"
          alt="Image"
          class="w-full pointer"
        />
        <img
          src="../../../assets/img/car-1.png"
          alt="Image"
          width="100%"
          height="10rem"
        />
        <img src="../../../assets/img/car-1.png" alt="Image" width="100%" />
      </div>
    </div>
    <div class="x-detail-desc col-6">
      <span>s</span>
    </div>
  </div>
</div>
