.x-ads-title {
  font-size: 2rem;
}

.x-ads-sub-title {
  font-size: 1.1rem;
  line-height: 1.5;
}

.x-card-body {
  padding: 1.5rem 1rem;
  line-height: 1.4;
}

.x-ads-1,
.x-ads-2 {
  color: white;
  border-radius: 10px;
}

.x-ads-1 {
  background: #54a6ff;
}

.x-ads-2 {
  background: #3563e9;
}

.x-search {
  background: white;
  border-radius: 10px;
  padding: 2rem 3rem;
}

.x-search-title {
  font-weight: 600;
}

.x-search-btn {
  margin: auto;
}

:host ::ng-deep .p-dropdown {
  border: none !important;
  width: 100%;
}

:host ::ng-deep .p-calendar .p-inputtext {
  border-radius: 10px;
}

.country {
  background: saddlebrown;
}
