<div class="x-container">
  <div class="x-ads grid gap-4 mb-5">
    <div class="x-ads-1 col">
      <div class="x-card-body">
        <label class="x-ads-title">The Best Platform<br />for Car Rental</label>
        <p class="x-ads-sub-title mt-4">
          Ease of doing a car rental safely and<br />reliably. Of course at a
          low price.
        </p>
        <button pButton pRipple severity="primary">Rental Car</button>
        <div class="flex justify-content-center">
          <p-image
            src="../../../assets/img/car-1.png"
            alt="Image"
            width="406"
          />
        </div>
      </div>
    </div>
    <div class="x-ads-2 col">
      <div class="x-card-body">
        <label class="x-ads-title">The Best Platform<br />for Car Rental</label>
        <p class="x-ads-sub-title mt-4">
          Ease of doing a car rental safely and<br />reliably. Of course at a
          low price.
        </p>
        <button pButton pRipple severity="info">Rental Car</button>
        <div class="flex justify-content-center">
          <p-image
            src="../../../assets/img/car-2.png"
            alt="Image"
            width="340"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="x-search mt-5 grid gap-1">
    <div class="x-location col grid">
      <label class="x-search-title col-12">Locations</label>
      <p-dropdown
        [options]="provinceList"
        [(ngModel)]="request.provinceId"
        optionValue="id"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        [loading]="loadings.geo"
        placeholder="Select Location"
        class="col-12"
      >
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex align-items-center gap-2">
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="x-location col grid">
      <label class="x-search-title col-12">Date</label>
      <p-calendar
        [(ngModel)]="request.startDate"
        [iconDisplay]="'input'"
        [showIcon]="true"
        [showButtonBar]="true"
        [minDate]="minDate"
      />
    </div>
    <div class="x-location col grid">
      <label class="x-search-title col-12">Time</label>
      <p-calendar
        [(ngModel)]="request.time"
        [iconDisplay]="'input'"
        [showIcon]="true"
        [timeOnly]="true"
      >
        <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
          <i
            class="pi pi-clock pointer-events-none pointer-events-none"
            (click)="clickCallBack($event)"
          ></i>
        </ng-template>
      </p-calendar>
    </div>
    <div class="x-location col grid">
      <label class="x-search-title col-12">Duration</label>
      <p-iconField>
        <p-inputNumber
          [(ngModel)]="request.duration"
          [min]="1"
          [max]="30"
          [useGrouping]="false"
          suffix=" days"
        />
      </p-iconField>
    </div>
    <div class="x-location grid col-fixed" style="width: 150px">
      <label class="x-search-title col-12 opacity-0">Duration</label>
      <div class="flex col">
        <p-button
          class="m-auto"
          label="Search "
          icon="pi pi-search"
          iconPos="right"
          severity="success"
          [disabled]="!request.isValid()"
          [loading]="loadings.geo"
          (onClick)="doSearch()"
        />
      </div>
    </div>
  </div>

  <div class="x-recommended mt-5">
    <div class="flex justify-content-between col">
      <label class="font-medium gray-text">Popular Car</label>
      <label class="pointer font-medium" style="color: #3563e9">View All</label>
    </div>

    <div class="x-car-container grid gap-5 mt-2">
      <div class="x-car-card p-4 col pointer">
        <div class="x-car-title flex justify-content-between">
          <span class="x-title font-bold">Nissan GT-R</span>
          <i
            class="pi pi-heart-fill"
            style="color: #ed3f3f; font-size: 1.5rem"
          ></i>
        </div>
        <div>
          <span class="x-sub-title font-bold gray-text">Toyota</span>
        </div>
        <div class="x-img flex justify-content-center">
          <p-image
            src="../../../assets/img/car-1.png"
            alt="Image"
            width="204"
          />
        </div>
        <div class="flex gap-2">
          <div class="flex gap-1 col justify-content-center">
            <i class="pi pi-star-fill gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">4.5</span>
          </div>
          <div class="flex gap-1 col justify-content-center">
            <i class="pi pi-gauge gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">Manual</span>
          </div>
          <div class="flex gap-1 col justify-content-center">
            <i class="pi pi-users gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">5 People</span>
          </div>
        </div>
        <div class="x-price grid mt-2">
          <div class="flex col m-auto">
            <span class="x-price-title font-bold">Rp 200.000/</span>
            <span class="gray-text" style="font-size: 13px; margin-top: auto"
              >day</span
            >
          </div>
          <div class="col flex justify-content-end">
            <p-button label="Rent Now " severity="primary" />
          </div>
        </div>
      </div>
      <div class="x-car-card p-4 col pointer">
        <div class="x-car-title flex justify-content-between">
          <span class="x-title font-bold">Nissan GT-R</span>
          <i
            class="pi pi-heart-fill"
            style="color: #ed3f3f; font-size: 1.5rem"
          ></i>
        </div>
        <div>
          <span class="x-sub-title font-bold gray-text">Toyota</span>
        </div>
        <div class="x-img flex justify-content-center">
          <p-image
            src="../../../assets/img/car-1.png"
            alt="Image"
            width="204"
          />
        </div>
        <div class="flex gap-2">
          <div class="flex gap-1 col justify-content-center">
            <i class="pi pi-star-fill gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">4.5</span>
          </div>
          <div class="flex gap-1 col justify-content-center">
            <i class="pi pi-gauge gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">Manual</span>
          </div>
          <div class="flex gap-1 col justify-content-center">
            <i class="pi pi-users gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">5 People</span>
          </div>
        </div>
        <div class="x-price grid mt-2">
          <div class="flex col m-auto">
            <span class="x-price-title font-bold">Rp 200.000/</span>
            <span class="gray-text" style="font-size: 13px; margin-top: auto"
              >day</span
            >
          </div>
          <div class="col flex justify-content-end">
            <p-button label="Rent Now " severity="primary" />
          </div>
        </div>
      </div>
      <div class="x-car-card p-4 col pointer">
        <div class="x-car-title flex justify-content-between">
          <span class="x-title font-bold">Nissan GT-R</span>
          <i class="pi pi-heart gray-text" style="font-size: 1.5rem"></i>
        </div>
        <div>
          <span class="x-sub-title font-bold gray-text">Toyota</span>
        </div>
        <div class="x-img flex justify-content-center">
          <p-image
            src="../../../assets/img/car-1.png"
            alt="Image"
            width="204"
          />
        </div>
        <div class="grid gap-2">
          <div class="flex gap-1 col">
            <i class="pi pi-star-fill gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">4.5</span>
          </div>
          <div class="flex gap-1 col">
            <i class="pi pi-gauge gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">Manual</span>
          </div>
          <div class="flex flex-nowrap gap-1 col">
            <i class="pi pi-users gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">5 People</span>
          </div>
        </div>
        <div class="x-price grid mt-2">
          <div class="flex col m-auto">
            <span class="x-price-title font-bold">Rp 200.000/</span>
            <span class="gray-text" style="font-size: 13px; margin-top: auto"
              >day</span
            >
          </div>
          <div class="col flex justify-content-end">
            <p-button label="Rent Now " severity="primary" />
          </div>
        </div>
      </div>
      <div class="x-car-card p-4 col pointer">
        <div class="x-car-title flex justify-content-between">
          <span class="x-title font-bold">Nissan GT-R</span>
          <i class="pi pi-heart gray-text" style="font-size: 1.5rem"></i>
        </div>
        <div>
          <span class="x-sub-title font-bold gray-text">Toyota</span>
        </div>
        <div class="x-img flex justify-content-center">
          <p-image
            src="../../../assets/img/car-1.png"
            alt="Image"
            width="204"
          />
        </div>
        <div class="grid gap-2">
          <div class="flex gap-1 col">
            <i class="pi pi-star-fill gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">4.5</span>
          </div>
          <div class="flex gap-1 col">
            <i class="pi pi-gauge gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">Manual</span>
          </div>
          <div class="flex flex-nowrap gap-1 col">
            <i class="pi pi-users gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">5 People</span>
          </div>
        </div>
        <div class="x-price grid mt-2">
          <div class="flex col m-auto">
            <span class="x-price-title font-bold">Rp 200.000/</span>
            <span class="gray-text" style="font-size: 13px; margin-top: auto"
              >day</span
            >
          </div>
          <div class="col flex justify-content-end">
            <p-button label="Rent Now " severity="primary" />
          </div>
        </div>
      </div>
      <div class="x-car-card p-4 col pointer">
        <div class="x-car-title flex justify-content-between">
          <span class="x-title font-bold">Nissan GT-R</span>
          <i class="pi pi-heart gray-text" style="font-size: 1.5rem"></i>
        </div>
        <div>
          <span class="x-sub-title font-bold gray-text">Toyota</span>
        </div>
        <div class="x-img flex justify-content-center">
          <p-image
            src="../../../assets/img/car-1.png"
            alt="Image"
            width="204"
          />
        </div>
        <div class="grid gap-2">
          <div class="flex gap-1 col">
            <i class="pi pi-star-fill gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">4.5</span>
          </div>
          <div class="flex gap-1 col">
            <i class="pi pi-gauge gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">Manual</span>
          </div>
          <div class="flex flex-nowrap gap-1 col">
            <i class="pi pi-users gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">5 People</span>
          </div>
        </div>
        <div class="x-price grid mt-2">
          <div class="flex col m-auto">
            <span class="x-price-title font-bold">Rp 200.000/</span>
            <span class="gray-text" style="font-size: 13px; margin-top: auto"
              >day</span
            >
          </div>
          <div class="col flex justify-content-end">
            <p-button label="Rent Now " severity="primary" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="x-recommended mt-5">
    <div class="flex justify-content-between col">
      <label class="font-medium gray-text">Recomendation Car</label>
      <label class="pointer font-medium hidden" style="color: #3563e9"
        >View All</label
      >
    </div>

    <div class="x-car-container gap-5 mt-2">
      <div class="x-car-card p-4 pointer">
        <div class="x-car-title flex justify-content-between">
          <span class="x-title font-bold">Nissan GT-R</span>
          <i
            class="pi pi-heart-fill"
            style="color: #ed3f3f; font-size: 1.5rem"
          ></i>
        </div>
        <div>
          <span class="x-sub-title font-bold gray-text">Toyota</span>
        </div>
        <div class="x-img flex justify-content-center">
          <p-image
            src="../../../assets/img/car-1.png"
            alt="Image"
            width="204"
          />
        </div>
        <div class="flex gap-2">
          <div class="flex gap-1 col justify-content-center">
            <i class="pi pi-star-fill gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">4.5</span>
          </div>
          <div class="flex gap-1 col justify-content-center">
            <i class="pi pi-gauge gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">Manual</span>
          </div>
          <div class="flex gap-1 col justify-content-center">
            <i class="pi pi-users gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">5 People</span>
          </div>
        </div>
        <div class="x-price grid mt-2">
          <div class="flex col m-auto">
            <span class="x-price-title font-bold">Rp 200.000/</span>
            <span class="gray-text" style="font-size: 13px; margin-top: auto"
              >day</span
            >
          </div>
          <div class="col flex justify-content-end">
            <p-button label="Rent Now " severity="primary" />
          </div>
        </div>
      </div>
      <div class="x-car-card p-4 pointer">
        <div class="x-car-title flex justify-content-between">
          <span class="x-title font-bold">Nissan GT-R</span>
          <i class="pi pi-heart gray-text" style="font-size: 1.5rem"></i>
        </div>
        <div>
          <span class="x-sub-title font-bold gray-text">Toyota</span>
        </div>
        <div class="x-img flex justify-content-center">
          <p-image
            src="../../../assets/img/car-1.png"
            alt="Image"
            width="204"
          />
        </div>
        <div class="grid gap-2">
          <div class="flex gap-1 col">
            <i class="pi pi-star-fill gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">4.5</span>
          </div>
          <div class="flex gap-1 col">
            <i class="pi pi-gauge gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">Manual</span>
          </div>
          <div class="flex flex-nowrap gap-1 col">
            <i class="pi pi-users gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">5 People</span>
          </div>
        </div>
        <div class="x-price grid mt-2">
          <div class="flex col m-auto">
            <span class="x-price-title font-bold">Rp 200.000/</span>
            <span class="gray-text" style="font-size: 13px; margin-top: auto"
              >day</span
            >
          </div>
          <div class="col flex justify-content-end">
            <p-button label="Rent Now " severity="primary" />
          </div>
        </div>
      </div>
      <div class="x-car-card p-4 pointer">
        <div class="x-car-title flex justify-content-between">
          <span class="x-title font-bold">Nissan GT-R</span>
          <i class="pi pi-heart gray-text" style="font-size: 1.5rem"></i>
        </div>
        <div>
          <span class="x-sub-title font-bold gray-text">Toyota</span>
        </div>
        <div class="x-img flex justify-content-center">
          <p-image
            src="../../../assets/img/car-1.png"
            alt="Image"
            width="204"
          />
        </div>
        <div class="grid gap-2">
          <div class="flex gap-1 col">
            <i class="pi pi-star-fill gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">4.5</span>
          </div>
          <div class="flex gap-1 col">
            <i class="pi pi-gauge gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">Manual</span>
          </div>
          <div class="flex flex-nowrap gap-1 col">
            <i class="pi pi-users gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">5 People</span>
          </div>
        </div>
        <div class="x-price grid mt-2">
          <div class="flex col m-auto">
            <span class="x-price-title font-bold">Rp 200.000/</span>
            <span class="gray-text" style="font-size: 13px; margin-top: auto"
              >day</span
            >
          </div>
          <div class="col flex justify-content-end">
            <p-button label="Rent Now " severity="primary" />
          </div>
        </div>
      </div>
      <div class="x-car-card p-4 pointer">
        <div class="x-car-title flex justify-content-between">
          <span class="x-title font-bold">Nissan GT-R</span>
          <i class="pi pi-heart gray-text" style="font-size: 1.5rem"></i>
        </div>
        <div>
          <span class="x-sub-title font-bold gray-text">Toyota</span>
        </div>
        <div class="x-img flex justify-content-center">
          <p-image
            src="../../../assets/img/car-1.png"
            alt="Image"
            width="204"
          />
        </div>
        <div class="grid gap-2">
          <div class="flex gap-1 col">
            <i class="pi pi-star-fill gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">4.5</span>
          </div>
          <div class="flex gap-1 col">
            <i class="pi pi-gauge gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">Manual</span>
          </div>
          <div class="flex flex-nowrap gap-1 col">
            <i class="pi pi-users gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">5 People</span>
          </div>
        </div>
        <div class="x-price grid mt-2">
          <div class="flex col m-auto">
            <span class="x-price-title font-bold">Rp 200.000/</span>
            <span class="gray-text" style="font-size: 13px; margin-top: auto"
              >day</span
            >
          </div>
          <div class="col flex justify-content-end">
            <p-button label="Rent Now " severity="primary" />
          </div>
        </div>
      </div>
      <div class="x-car-card p-4 pointer">
        <div class="x-car-title flex justify-content-between">
          <span class="x-title font-bold">Nissan GT-R</span>
          <i
            class="pi pi-heart-fill"
            style="color: #ed3f3f; font-size: 1.5rem"
          ></i>
        </div>
        <div>
          <span class="x-sub-title font-bold gray-text">Toyota</span>
        </div>
        <div class="x-img flex justify-content-center">
          <p-image
            src="../../../assets/img/car-1.png"
            alt="Image"
            width="204"
          />
        </div>
        <div class="flex gap-2">
          <div class="flex gap-1 col justify-content-center">
            <i class="pi pi-star-fill gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">4.5</span>
          </div>
          <div class="flex gap-1 col justify-content-center">
            <i class="pi pi-gauge gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">Manual</span>
          </div>
          <div class="flex gap-1 col justify-content-center">
            <i class="pi pi-users gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">5 People</span>
          </div>
        </div>
        <div class="x-price grid mt-2">
          <div class="flex col m-auto">
            <span class="x-price-title font-bold">Rp 200.000/</span>
            <span class="gray-text" style="font-size: 13px; margin-top: auto"
              >day</span
            >
          </div>
          <div class="col flex justify-content-end">
            <p-button label="Rent Now " severity="primary" />
          </div>
        </div>
      </div>
      <div class="x-car-card p-4 pointer">
        <div class="x-car-title flex justify-content-between">
          <span class="x-title font-bold">Nissan GT-R</span>
          <i class="pi pi-heart gray-text" style="font-size: 1.5rem"></i>
        </div>
        <div>
          <span class="x-sub-title font-bold gray-text">Toyota</span>
        </div>
        <div class="x-img flex justify-content-center">
          <p-image
            src="../../../assets/img/car-1.png"
            alt="Image"
            width="204"
          />
        </div>
        <div class="grid gap-2">
          <div class="flex gap-1 col">
            <i class="pi pi-star-fill gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">4.5</span>
          </div>
          <div class="flex gap-1 col">
            <i class="pi pi-gauge gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">Manual</span>
          </div>
          <div class="flex flex-nowrap gap-1 col">
            <i class="pi pi-users gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">5 People</span>
          </div>
        </div>
        <div class="x-price grid mt-2">
          <div class="flex col m-auto">
            <span class="x-price-title font-bold">Rp 200.000/</span>
            <span class="gray-text" style="font-size: 13px; margin-top: auto"
              >day</span
            >
          </div>
          <div class="col flex justify-content-end">
            <p-button label="Rent Now " severity="primary" />
          </div>
        </div>
      </div>
      <div class="x-car-card p-4 col pointer">
        <div class="x-car-title flex justify-content-between">
          <span class="x-title font-bold">Nissan GT-R</span>
          <i class="pi pi-heart gray-text" style="font-size: 1.5rem"></i>
        </div>
        <div>
          <span class="x-sub-title font-bold gray-text">Toyota</span>
        </div>
        <div class="x-img flex justify-content-center">
          <p-image
            src="../../../assets/img/car-1.png"
            alt="Image"
            width="204"
          />
        </div>
        <div class="grid gap-2">
          <div class="flex gap-1 col">
            <i class="pi pi-star-fill gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">4.5</span>
          </div>
          <div class="flex gap-1 col">
            <i class="pi pi-gauge gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">Manual</span>
          </div>
          <div class="flex flex-nowrap gap-1 col">
            <i class="pi pi-users gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">5 People</span>
          </div>
        </div>
        <div class="x-price grid mt-2">
          <div class="flex col m-auto">
            <span class="x-price-title font-bold">Rp 200.000/</span>
            <span class="gray-text" style="font-size: 13px; margin-top: auto"
              >day</span
            >
          </div>
          <div class="col flex justify-content-end">
            <p-button label="Rent Now " severity="primary" />
          </div>
        </div>
      </div>
      <div class="x-car-card p-4 col pointer">
        <div class="x-car-title flex justify-content-between">
          <span class="x-title font-bold">Nissan GT-R</span>
          <i class="pi pi-heart gray-text" style="font-size: 1.5rem"></i>
        </div>
        <div>
          <span class="x-sub-title font-bold gray-text">Toyota</span>
        </div>
        <div class="x-img flex justify-content-center">
          <p-image
            src="../../../assets/img/car-1.png"
            alt="Image"
            width="204"
          />
        </div>
        <div class="grid gap-2">
          <div class="flex gap-1 col">
            <i class="pi pi-star-fill gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">4.5</span>
          </div>
          <div class="flex gap-1 col">
            <i class="pi pi-gauge gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">Manual</span>
          </div>
          <div class="flex flex-nowrap gap-1 col">
            <i class="pi pi-users gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">5 People</span>
          </div>
        </div>
        <div class="x-price grid mt-2">
          <div class="flex col m-auto">
            <span class="x-price-title font-bold">Rp 200.000/</span>
            <span class="gray-text" style="font-size: 13px; margin-top: auto"
              >day</span
            >
          </div>
          <div class="col flex justify-content-end">
            <p-button label="Rent Now " severity="primary" />
          </div>
        </div>
      </div>
      <div class="x-car-card p-4 col pointer">
        <div class="x-car-title flex justify-content-between">
          <span class="x-title font-bold">Nissan GT-R</span>
          <i class="pi pi-heart gray-text" style="font-size: 1.5rem"></i>
        </div>
        <div>
          <span class="x-sub-title font-bold gray-text">Toyota</span>
        </div>
        <div class="x-img flex justify-content-center">
          <p-image
            src="../../../assets/img/car-1.png"
            alt="Image"
            width="204"
          />
        </div>
        <div class="grid gap-2">
          <div class="flex gap-1 col">
            <i class="pi pi-star-fill gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">4.5</span>
          </div>
          <div class="flex gap-1 col">
            <i class="pi pi-gauge gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">Manual</span>
          </div>
          <div class="flex flex-nowrap gap-1 col">
            <i class="pi pi-users gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">5 People</span>
          </div>
        </div>
        <div class="x-price grid mt-2">
          <div class="flex col m-auto">
            <span class="x-price-title font-bold">Rp 200.000/</span>
            <span class="gray-text" style="font-size: 13px; margin-top: auto"
              >day</span
            >
          </div>
          <div class="col flex justify-content-end">
            <p-button label="Rent Now " severity="primary" />
          </div>
        </div>
      </div>
      <div class="x-car-card p-4 col pointer">
        <div class="x-car-title flex justify-content-between">
          <span class="x-title font-bold">Nissan GT-R</span>
          <i class="pi pi-heart gray-text" style="font-size: 1.5rem"></i>
        </div>
        <div>
          <span class="x-sub-title font-bold gray-text">Toyota</span>
        </div>
        <div class="x-img flex justify-content-center">
          <p-image
            src="../../../assets/img/car-1.png"
            alt="Image"
            width="204"
          />
        </div>
        <div class="grid gap-2">
          <div class="flex gap-1 col">
            <i class="pi pi-star-fill gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">4.5</span>
          </div>
          <div class="flex gap-1 col">
            <i class="pi pi-gauge gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">Manual</span>
          </div>
          <div class="flex flex-nowrap gap-1 col">
            <i class="pi pi-users gray-text" style="font-size: 1.2rem"></i>
            <span class="x-info gray-text">5 People</span>
          </div>
        </div>
        <div class="x-price grid mt-2">
          <div class="flex col m-auto">
            <span class="x-price-title font-bold">Rp 200.000/</span>
            <span class="gray-text" style="font-size: 13px; margin-top: auto"
              >day</span
            >
          </div>
          <div class="col flex justify-content-end">
            <p-button label="Rent Now " severity="primary" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-content-between mt-5">
    <span></span>
    <p-button
      class="m-auto"
      label="Show more car "
      iconPos="right"
      severity="primary"
      [loading]="loadings.geo"
      (onClick)="doSearch()"
    />
    <span class="x-total-text gray-text">120 Car</span>
  </div>
</div>
