<div class="x-container">
  <div class="x-ads flex gap-4">
    <p-card class="col-12 md:col-6 sm:col-6">
      <div class="x-card-body">
        <label class="x-ads-title">The Best Platform<br />for Car Rental</label>
        <p class="x-ads-sub-title mt-4">
          Ease of doing a car rental safely and<br />reliably. Of course at a
          low price.
        </p>
        <button pButton pRipple>Rental Car</button>
      </div>
    </p-card>
    <p-card class="col-12 md:col-6 sm:col-6">
      <div class="x-card-body asd2">
        <label class="x-ads-title"
          >Easy way to rent a<br />car at a low price</label
        >
        <p class="x-ads-sub-title mt-4">
          Providing cheap car rental services<br />and safe and comfortable
          facilities.
        </p>
        <button pButton pRipple>Rental Car</button>
      </div>
    </p-card>
  </div>
</div>
