/* You can add global styles to this file, and also import other style files */

@import '../node_modules/primeng/resources/themes/aura-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  background: #f6f7f9;
}

.m-auto {
  margin: auto !important;
}

.pointer {
  cursor: pointer;
}

.secondary-text {
  color: rgba(19, 19, 19, 0.6) !important;
}

.gray-text {
  color: #90a3bf !important;
}

.x-container {
  padding: 2.5rem 4.5rem 2.5rem 4.5rem;
}

.p-card {
  border-radius: 10px !important;
}

.rounded-10 {
  border-radius: 10px;
}
